@import '~office-ui-fabric-react/dist/sass/References.scss';
@import '../../Theme.module.scss';

.root {

  /** コンテナ(閲覧モード) */
  .container {
    padding: 0px;
  }

  /** コンテナ(編集モード) */
  .containerEdit {
    padding: 5px;
  }

  /** タイトル領域 */
  .titleArea {

    /** タイトル(閲覧モード) */
    .title {
      height: 32px;
      margin-top: 0px;
      margin-bottom: 18px;
  
      @include mq-up(sm) {
        font-size: 24px;
        font-weight: 100;
      }
  
      @include mq-down(sm) {
        font-size: 21px;
        font-weight: 300;
      }
    }
  
    /** タイトル(編集モード) */
    .titleInput {
      height: 36px;
      margin-bottom: 18px;
      padding: 0;
  
      & input {
        @include mq-up(sm) {
          font-size: 24px;
          font-weight: 100;
        }
  
        @include mq-down(sm) {
          font-size: 21px;
          font-weight: 300;
        }
      }

      & input::placeholder {
        @include mq-up(sm) {
          font-size: 24px;
          font-weight: 100;
        }
  
        @include mq-down(sm) {
          font-size: 21px;
          font-weight: 300;
        }
      }
    }
  }

  /** 画面いっぱいに広げないコントロール */
  .narrow {
    @include mq-up(sm) {
      width: 150px;
    }
  }
}
